<!Doctype html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href= "../static/mystyle.css">
	<title> Me   </title>
</head>
<body>  
<center>
	<h1 id="first">****************ARWA BOLBOL************* </h1>
	<h2>Hi my friends
		I am happy today to let you know about myself</h2>
	<img  Width="400" src="../static/arwa.png" />
	<p> By :ARWA </p>
<center>
	<p 

	  >My name is arwa bolbol ****
	 	***
	 	I am 15 years old 
	 	***
	 	I study at Arafat gifted school </p>
	<h1> My hobbies </h1>
	<h6> I have a lot of hobbies like : 
	 	Drawing .. i love drwing so much and I'm good in ...
	 	My drawings </h6> 	<img  Width="400" src="../static/29853346_579425755750550_1744862475_n.jpg" />
	<img  Width="400" src="../static/29939197_580732235619902_293937958_n.jpg"  />
	<p>I love reading and I finished about 25 books  ... My best book is a novel</p>
	<img  Width="250"
	 src="../static/arwaada.jpg">
	<h6>My experiences : 
	I'm now a student in Acess</h6>
	<img  Width="1000"src="../static/27399716_1959956714032633_1718881833_n.jpg" />
  <p> And also I have alot of Courses since I was young </p>
<img  Width="400"
	 		 src="../static/384479_339181599542297_1019345219_n.jpg" />
<p> and of course We code .. The best programme ever ></p>
<img  Width="400"src="../static/878766.jpg" />
<p> My best friend is MARAH <img  Width="400"src="../static/Snapchat-1607743093.jpg" />
<p> I love facebook because it's like a small world that you can communicate with different people in different place at the same time 
</center>	
<a href="https://www.facebook.com/profile.php?id=100010493920200">click here to find my facebook</a>
<img  Width="400" src="https:upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/220px-F_icon.svg.png"/>
<button id="anther page" onclick = Gotothescoundpage(this)> Some drwaing! </button>
	<script>
	var i = 0;

	function Gotothescoundpage (){
		document.getElementById("anther page").innerHTML="Enjoy!";
			i++
	open("../static/26239633_2029066087306802_3965670741804928227_n.2.jpg");
		}
	if (i%2==0) {
		alert("I hope you like it <3 ");
			}
		
	</script>

<p>So now what about seeing my hobby in cooking ?!</p>
<h1> If ypu don't want , Just skip ** </h1>
<img src="../static/000 (7)-8.jpg"> 
<center>
<h1> Do you Like it ?</h1>
<button id="yup"onmouseout = Backagin2() onclick = yupanswer(this)>
	YUP! </button>
	<script>
		var i = 0;

	function yupanswer (){
		document.getElementById("yup").innerHTML="I love it too !";
			i++
			if (i%2==0) {
				alert("Thankk u ");
			}
	function Backagin2(){
		document.getElementById("yup").innerHTML= "yup!";


	}
		}
		
	</script>
	<button id="No" onmouseout = Backagin() onclick= Noanswer(this) >
	No! </button>
	<script>
		var i = 0;

	function Noanswer (){
		document.getElementById("No").innerHTML= "but I love it -_- !!  !";
			i++
			if (i%2==0) {
				alert("Thankk u anyway *");

			}
		}
	function Backagin(){
		document.getElementById("No").innerHTML= "No!";


	}
	</script>

</center>

	

